---
Checks: 
  'bugprone-*,
  -bugprone-bool-pointer-implicit-conversion,
  -bugprone-infinite-loop,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-stringview-nullptr,
  -bugprone-suspicious-string-compare,
  -bugprone-use-after-move,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-noexcept-destructor,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-noexcept-swap,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  '
CheckOptions:
  - key: cppcoreguidelines-narrowing-conversions.IgnoreConversionFromTypes
    value: 'unsigned int;unsigned long;std::size_t;size_type;qtnh::tidx_tup_st;qtnh::uint'
